$number-of-columns: 9;
$base-column-width: 100% / $number-of-columns;

.grid-container {
	.row [class*='column-']{
			display: block;
			border: 1px solid red;
			height: 50px;
	}
}

@media (min-width: 420px) {
	.grid-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		.row {
		width: 100%;
		height: 50px;
		margin: 0;
		display: flex;
		flex-direction: row;
			@for $index from 1 through $number-of-columns {
				.column-#{$index}{
					width: $index * $base-column-width;
					border: 1px solid red;
				}
			}
		}	
	}
}