// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$flag-ar-name: 'flag-ar';
$flag-ar-x: 15px;
$flag-ar-y: 0px;
$flag-ar-offset-x: -15px;
$flag-ar-offset-y: 0px;
$flag-ar-width: 15px;
$flag-ar-height: 11px;
$flag-ar-total-width: 90px;
$flag-ar-total-height: 88px;
$flag-ar-image: 'sprite.png';
$flag-ar: (15px, 0px, -15px, 0px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-ar', );
$flag-at-name: 'flag-at';
$flag-at-x: 60px;
$flag-at-y: 22px;
$flag-at-offset-x: -60px;
$flag-at-offset-y: -22px;
$flag-at-width: 15px;
$flag-at-height: 11px;
$flag-at-total-width: 90px;
$flag-at-total-height: 88px;
$flag-at-image: 'sprite.png';
$flag-at: (60px, 22px, -60px, -22px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-at', );
$flag-au-name: 'flag-au';
$flag-au-x: 0px;
$flag-au-y: 11px;
$flag-au-offset-x: 0px;
$flag-au-offset-y: -11px;
$flag-au-width: 15px;
$flag-au-height: 11px;
$flag-au-total-width: 90px;
$flag-au-total-height: 88px;
$flag-au-image: 'sprite.png';
$flag-au: (0px, 11px, 0px, -11px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-au', );
$flag-be-name: 'flag-be';
$flag-be-x: 15px;
$flag-be-y: 11px;
$flag-be-offset-x: -15px;
$flag-be-offset-y: -11px;
$flag-be-width: 15px;
$flag-be-height: 11px;
$flag-be-total-width: 90px;
$flag-be-total-height: 88px;
$flag-be-image: 'sprite.png';
$flag-be: (15px, 11px, -15px, -11px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-be', );
$flag-br-name: 'flag-br';
$flag-br-x: 30px;
$flag-br-y: 0px;
$flag-br-offset-x: -30px;
$flag-br-offset-y: 0px;
$flag-br-width: 15px;
$flag-br-height: 11px;
$flag-br-total-width: 90px;
$flag-br-total-height: 88px;
$flag-br-image: 'sprite.png';
$flag-br: (30px, 0px, -30px, 0px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-br', );
$flag-ca-name: 'flag-ca';
$flag-ca-x: 30px;
$flag-ca-y: 11px;
$flag-ca-offset-x: -30px;
$flag-ca-offset-y: -11px;
$flag-ca-width: 15px;
$flag-ca-height: 11px;
$flag-ca-total-width: 90px;
$flag-ca-total-height: 88px;
$flag-ca-image: 'sprite.png';
$flag-ca: (30px, 11px, -30px, -11px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-ca', );
$flag-ch-name: 'flag-ch';
$flag-ch-x: 0px;
$flag-ch-y: 22px;
$flag-ch-offset-x: 0px;
$flag-ch-offset-y: -22px;
$flag-ch-width: 15px;
$flag-ch-height: 11px;
$flag-ch-total-width: 90px;
$flag-ch-total-height: 88px;
$flag-ch-image: 'sprite.png';
$flag-ch: (0px, 22px, 0px, -22px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-ch', );
$flag-cl-name: 'flag-cl';
$flag-cl-x: 15px;
$flag-cl-y: 22px;
$flag-cl-offset-x: -15px;
$flag-cl-offset-y: -22px;
$flag-cl-width: 15px;
$flag-cl-height: 11px;
$flag-cl-total-width: 90px;
$flag-cl-total-height: 88px;
$flag-cl-image: 'sprite.png';
$flag-cl: (15px, 22px, -15px, -22px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-cl', );
$flag-cn-name: 'flag-cn';
$flag-cn-x: 30px;
$flag-cn-y: 22px;
$flag-cn-offset-x: -30px;
$flag-cn-offset-y: -22px;
$flag-cn-width: 15px;
$flag-cn-height: 11px;
$flag-cn-total-width: 90px;
$flag-cn-total-height: 88px;
$flag-cn-image: 'sprite.png';
$flag-cn: (30px, 22px, -30px, -22px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-cn', );
$flag-co-name: 'flag-co';
$flag-co-x: 0px;
$flag-co-y: 33px;
$flag-co-offset-x: 0px;
$flag-co-offset-y: -33px;
$flag-co-width: 15px;
$flag-co-height: 11px;
$flag-co-total-width: 90px;
$flag-co-total-height: 88px;
$flag-co-image: 'sprite.png';
$flag-co: (0px, 33px, 0px, -33px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-co', );
$flag-cr-name: 'flag-cr';
$flag-cr-x: 15px;
$flag-cr-y: 33px;
$flag-cr-offset-x: -15px;
$flag-cr-offset-y: -33px;
$flag-cr-width: 15px;
$flag-cr-height: 11px;
$flag-cr-total-width: 90px;
$flag-cr-total-height: 88px;
$flag-cr-image: 'sprite.png';
$flag-cr: (15px, 33px, -15px, -33px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-cr', );
$flag-cz-name: 'flag-cz';
$flag-cz-x: 30px;
$flag-cz-y: 33px;
$flag-cz-offset-x: -30px;
$flag-cz-offset-y: -33px;
$flag-cz-width: 15px;
$flag-cz-height: 11px;
$flag-cz-total-width: 90px;
$flag-cz-total-height: 88px;
$flag-cz-image: 'sprite.png';
$flag-cz: (30px, 33px, -30px, -33px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-cz', );
$flag-de-name: 'flag-de';
$flag-de-x: 45px;
$flag-de-y: 0px;
$flag-de-offset-x: -45px;
$flag-de-offset-y: 0px;
$flag-de-width: 15px;
$flag-de-height: 11px;
$flag-de-total-width: 90px;
$flag-de-total-height: 88px;
$flag-de-image: 'sprite.png';
$flag-de: (45px, 0px, -45px, 0px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-de', );
$flag-dk-name: 'flag-dk';
$flag-dk-x: 45px;
$flag-dk-y: 11px;
$flag-dk-offset-x: -45px;
$flag-dk-offset-y: -11px;
$flag-dk-width: 15px;
$flag-dk-height: 11px;
$flag-dk-total-width: 90px;
$flag-dk-total-height: 88px;
$flag-dk-image: 'sprite.png';
$flag-dk: (45px, 11px, -45px, -11px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-dk', );
$flag-es-name: 'flag-es';
$flag-es-x: 45px;
$flag-es-y: 22px;
$flag-es-offset-x: -45px;
$flag-es-offset-y: -22px;
$flag-es-width: 15px;
$flag-es-height: 11px;
$flag-es-total-width: 90px;
$flag-es-total-height: 88px;
$flag-es-image: 'sprite.png';
$flag-es: (45px, 22px, -45px, -22px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-es', );
$flag-fi-name: 'flag-fi';
$flag-fi-x: 45px;
$flag-fi-y: 33px;
$flag-fi-offset-x: -45px;
$flag-fi-offset-y: -33px;
$flag-fi-width: 15px;
$flag-fi-height: 11px;
$flag-fi-total-width: 90px;
$flag-fi-total-height: 88px;
$flag-fi-image: 'sprite.png';
$flag-fi: (45px, 33px, -45px, -33px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-fi', );
$flag-fr-name: 'flag-fr';
$flag-fr-x: 0px;
$flag-fr-y: 44px;
$flag-fr-offset-x: 0px;
$flag-fr-offset-y: -44px;
$flag-fr-width: 15px;
$flag-fr-height: 11px;
$flag-fr-total-width: 90px;
$flag-fr-total-height: 88px;
$flag-fr-image: 'sprite.png';
$flag-fr: (0px, 44px, 0px, -44px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-fr', );
$flag-gb-name: 'flag-gb';
$flag-gb-x: 15px;
$flag-gb-y: 44px;
$flag-gb-offset-x: -15px;
$flag-gb-offset-y: -44px;
$flag-gb-width: 15px;
$flag-gb-height: 11px;
$flag-gb-total-width: 90px;
$flag-gb-total-height: 88px;
$flag-gb-image: 'sprite.png';
$flag-gb: (15px, 44px, -15px, -44px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-gb', );
$flag-gr-name: 'flag-gr';
$flag-gr-x: 30px;
$flag-gr-y: 44px;
$flag-gr-offset-x: -30px;
$flag-gr-offset-y: -44px;
$flag-gr-width: 15px;
$flag-gr-height: 11px;
$flag-gr-total-width: 90px;
$flag-gr-total-height: 88px;
$flag-gr-image: 'sprite.png';
$flag-gr: (30px, 44px, -30px, -44px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-gr', );
$flag-hk-name: 'flag-hk';
$flag-hk-x: 45px;
$flag-hk-y: 44px;
$flag-hk-offset-x: -45px;
$flag-hk-offset-y: -44px;
$flag-hk-width: 15px;
$flag-hk-height: 11px;
$flag-hk-total-width: 90px;
$flag-hk-total-height: 88px;
$flag-hk-image: 'sprite.png';
$flag-hk: (45px, 44px, -45px, -44px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-hk', );
$flag-hu-name: 'flag-hu';
$flag-hu-x: 60px;
$flag-hu-y: 0px;
$flag-hu-offset-x: -60px;
$flag-hu-offset-y: 0px;
$flag-hu-width: 15px;
$flag-hu-height: 11px;
$flag-hu-total-width: 90px;
$flag-hu-total-height: 88px;
$flag-hu-image: 'sprite.png';
$flag-hu: (60px, 0px, -60px, 0px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-hu', );
$flag-id-name: 'flag-id';
$flag-id-x: 60px;
$flag-id-y: 11px;
$flag-id-offset-x: -60px;
$flag-id-offset-y: -11px;
$flag-id-width: 15px;
$flag-id-height: 11px;
$flag-id-total-width: 90px;
$flag-id-total-height: 88px;
$flag-id-image: 'sprite.png';
$flag-id: (60px, 11px, -60px, -11px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-id', );
$flag-ie-name: 'flag-ie';
$flag-ie-x: 0px;
$flag-ie-y: 0px;
$flag-ie-offset-x: 0px;
$flag-ie-offset-y: 0px;
$flag-ie-width: 15px;
$flag-ie-height: 11px;
$flag-ie-total-width: 90px;
$flag-ie-total-height: 88px;
$flag-ie-image: 'sprite.png';
$flag-ie: (0px, 0px, 0px, 0px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-ie', );
$flag-il-name: 'flag-il';
$flag-il-x: 60px;
$flag-il-y: 33px;
$flag-il-offset-x: -60px;
$flag-il-offset-y: -33px;
$flag-il-width: 15px;
$flag-il-height: 11px;
$flag-il-total-width: 90px;
$flag-il-total-height: 88px;
$flag-il-image: 'sprite.png';
$flag-il: (60px, 33px, -60px, -33px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-il', );
$flag-in-name: 'flag-in';
$flag-in-x: 60px;
$flag-in-y: 44px;
$flag-in-offset-x: -60px;
$flag-in-offset-y: -44px;
$flag-in-width: 15px;
$flag-in-height: 11px;
$flag-in-total-width: 90px;
$flag-in-total-height: 88px;
$flag-in-image: 'sprite.png';
$flag-in: (60px, 44px, -60px, -44px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-in', );
$flag-it-name: 'flag-it';
$flag-it-x: 0px;
$flag-it-y: 55px;
$flag-it-offset-x: 0px;
$flag-it-offset-y: -55px;
$flag-it-width: 15px;
$flag-it-height: 11px;
$flag-it-total-width: 90px;
$flag-it-total-height: 88px;
$flag-it-image: 'sprite.png';
$flag-it: (0px, 55px, 0px, -55px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-it', );
$flag-jp-name: 'flag-jp';
$flag-jp-x: 15px;
$flag-jp-y: 55px;
$flag-jp-offset-x: -15px;
$flag-jp-offset-y: -55px;
$flag-jp-width: 15px;
$flag-jp-height: 11px;
$flag-jp-total-width: 90px;
$flag-jp-total-height: 88px;
$flag-jp-image: 'sprite.png';
$flag-jp: (15px, 55px, -15px, -55px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-jp', );
$flag-kr-name: 'flag-kr';
$flag-kr-x: 30px;
$flag-kr-y: 55px;
$flag-kr-offset-x: -30px;
$flag-kr-offset-y: -55px;
$flag-kr-width: 15px;
$flag-kr-height: 11px;
$flag-kr-total-width: 90px;
$flag-kr-total-height: 88px;
$flag-kr-image: 'sprite.png';
$flag-kr: (30px, 55px, -30px, -55px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-kr', );
$flag-mx-name: 'flag-mx';
$flag-mx-x: 45px;
$flag-mx-y: 55px;
$flag-mx-offset-x: -45px;
$flag-mx-offset-y: -55px;
$flag-mx-width: 15px;
$flag-mx-height: 11px;
$flag-mx-total-width: 90px;
$flag-mx-total-height: 88px;
$flag-mx-image: 'sprite.png';
$flag-mx: (45px, 55px, -45px, -55px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-mx', );
$flag-my-name: 'flag-my';
$flag-my-x: 60px;
$flag-my-y: 55px;
$flag-my-offset-x: -60px;
$flag-my-offset-y: -55px;
$flag-my-width: 15px;
$flag-my-height: 11px;
$flag-my-total-width: 90px;
$flag-my-total-height: 88px;
$flag-my-image: 'sprite.png';
$flag-my: (60px, 55px, -60px, -55px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-my', );
$flag-nl-name: 'flag-nl';
$flag-nl-x: 75px;
$flag-nl-y: 0px;
$flag-nl-offset-x: -75px;
$flag-nl-offset-y: 0px;
$flag-nl-width: 15px;
$flag-nl-height: 11px;
$flag-nl-total-width: 90px;
$flag-nl-total-height: 88px;
$flag-nl-image: 'sprite.png';
$flag-nl: (75px, 0px, -75px, 0px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-nl', );
$flag-no-name: 'flag-no';
$flag-no-x: 75px;
$flag-no-y: 11px;
$flag-no-offset-x: -75px;
$flag-no-offset-y: -11px;
$flag-no-width: 15px;
$flag-no-height: 11px;
$flag-no-total-width: 90px;
$flag-no-total-height: 88px;
$flag-no-image: 'sprite.png';
$flag-no: (75px, 11px, -75px, -11px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-no', );
$flag-nz-name: 'flag-nz';
$flag-nz-x: 75px;
$flag-nz-y: 22px;
$flag-nz-offset-x: -75px;
$flag-nz-offset-y: -22px;
$flag-nz-width: 15px;
$flag-nz-height: 11px;
$flag-nz-total-width: 90px;
$flag-nz-total-height: 88px;
$flag-nz-image: 'sprite.png';
$flag-nz: (75px, 22px, -75px, -22px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-nz', );
$flag-pe-name: 'flag-pe';
$flag-pe-x: 15px;
$flag-pe-y: 77px;
$flag-pe-offset-x: -15px;
$flag-pe-offset-y: -77px;
$flag-pe-width: 15px;
$flag-pe-height: 10px;
$flag-pe-total-width: 90px;
$flag-pe-total-height: 88px;
$flag-pe-image: 'sprite.png';
$flag-pe: (15px, 77px, -15px, -77px, 15px, 10px, 90px, 88px, 'sprite.png', 'flag-pe', );
$flag-pl-name: 'flag-pl';
$flag-pl-x: 75px;
$flag-pl-y: 44px;
$flag-pl-offset-x: -75px;
$flag-pl-offset-y: -44px;
$flag-pl-width: 15px;
$flag-pl-height: 11px;
$flag-pl-total-width: 90px;
$flag-pl-total-height: 88px;
$flag-pl-image: 'sprite.png';
$flag-pl: (75px, 44px, -75px, -44px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-pl', );
$flag-pt-name: 'flag-pt';
$flag-pt-x: 75px;
$flag-pt-y: 55px;
$flag-pt-offset-x: -75px;
$flag-pt-offset-y: -55px;
$flag-pt-width: 15px;
$flag-pt-height: 11px;
$flag-pt-total-width: 90px;
$flag-pt-total-height: 88px;
$flag-pt-image: 'sprite.png';
$flag-pt: (75px, 55px, -75px, -55px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-pt', );
$flag-ru-name: 'flag-ru';
$flag-ru-x: 0px;
$flag-ru-y: 66px;
$flag-ru-offset-x: 0px;
$flag-ru-offset-y: -66px;
$flag-ru-width: 15px;
$flag-ru-height: 11px;
$flag-ru-total-width: 90px;
$flag-ru-total-height: 88px;
$flag-ru-image: 'sprite.png';
$flag-ru: (0px, 66px, 0px, -66px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-ru', );
$flag-se-name: 'flag-se';
$flag-se-x: 15px;
$flag-se-y: 66px;
$flag-se-offset-x: -15px;
$flag-se-offset-y: -66px;
$flag-se-width: 15px;
$flag-se-height: 11px;
$flag-se-total-width: 90px;
$flag-se-total-height: 88px;
$flag-se-image: 'sprite.png';
$flag-se: (15px, 66px, -15px, -66px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-se', );
$flag-tr-name: 'flag-tr';
$flag-tr-x: 30px;
$flag-tr-y: 66px;
$flag-tr-offset-x: -30px;
$flag-tr-offset-y: -66px;
$flag-tr-width: 15px;
$flag-tr-height: 11px;
$flag-tr-total-width: 90px;
$flag-tr-total-height: 88px;
$flag-tr-image: 'sprite.png';
$flag-tr: (30px, 66px, -30px, -66px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-tr', );
$flag-tw-name: 'flag-tw';
$flag-tw-x: 45px;
$flag-tw-y: 66px;
$flag-tw-offset-x: -45px;
$flag-tw-offset-y: -66px;
$flag-tw-width: 15px;
$flag-tw-height: 11px;
$flag-tw-total-width: 90px;
$flag-tw-total-height: 88px;
$flag-tw-image: 'sprite.png';
$flag-tw: (45px, 66px, -45px, -66px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-tw', );
$flag-us-name: 'flag-us';
$flag-us-x: 60px;
$flag-us-y: 66px;
$flag-us-offset-x: -60px;
$flag-us-offset-y: -66px;
$flag-us-width: 15px;
$flag-us-height: 11px;
$flag-us-total-width: 90px;
$flag-us-total-height: 88px;
$flag-us-image: 'sprite.png';
$flag-us: (60px, 66px, -60px, -66px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-us', );
$flag-uy-name: 'flag-uy';
$flag-uy-x: 75px;
$flag-uy-y: 66px;
$flag-uy-offset-x: -75px;
$flag-uy-offset-y: -66px;
$flag-uy-width: 15px;
$flag-uy-height: 11px;
$flag-uy-total-width: 90px;
$flag-uy-total-height: 88px;
$flag-uy-image: 'sprite.png';
$flag-uy: (75px, 66px, -75px, -66px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-uy', );
$flag-vn-name: 'flag-vn';
$flag-vn-x: 75px;
$flag-vn-y: 33px;
$flag-vn-offset-x: -75px;
$flag-vn-offset-y: -33px;
$flag-vn-width: 15px;
$flag-vn-height: 11px;
$flag-vn-total-width: 90px;
$flag-vn-total-height: 88px;
$flag-vn-image: 'sprite.png';
$flag-vn: (75px, 33px, -75px, -33px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-vn', );
$flag-za-name: 'flag-za';
$flag-za-x: 0px;
$flag-za-y: 77px;
$flag-za-offset-x: 0px;
$flag-za-offset-y: -77px;
$flag-za-width: 15px;
$flag-za-height: 11px;
$flag-za-total-width: 90px;
$flag-za-total-height: 88px;
$flag-za-image: 'sprite.png';
$flag-za: (0px, 77px, 0px, -77px, 15px, 11px, 90px, 88px, 'sprite.png', 'flag-za', );
$spritesheet-width: 90px;
$spritesheet-height: 88px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($flag-ar, $flag-at, $flag-au, $flag-be, $flag-br, $flag-ca, $flag-ch, $flag-cl, $flag-cn, $flag-co, $flag-cr, $flag-cz, $flag-de, $flag-dk, $flag-es, $flag-fi, $flag-fr, $flag-gb, $flag-gr, $flag-hk, $flag-hu, $flag-id, $flag-ie, $flag-il, $flag-in, $flag-it, $flag-jp, $flag-kr, $flag-mx, $flag-my, $flag-nl, $flag-no, $flag-nz, $flag-pe, $flag-pl, $flag-pt, $flag-ru, $flag-se, $flag-tr, $flag-tw, $flag-us, $flag-uy, $flag-vn, $flag-za, );
$spritesheet: (90px, 88px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
