html {
  background: #ffcccc; }

h1 {
  color: #3333ff; }

h2 {
  color: #6666ff; }

h3 {
  color: #9999ff; }

h4 {
  color: #ccccff; }

p {
  font-size: 40%;
  background: #804000; }

span {
  font-size: 25px; }
