section.images {
  display: flex;
  flex-direction: row; }
  section.images .rabbit-background {
    background-image: url("./../images/rabbit.png");
    background-size: cover;
    background-repeat: no-repeat; }
  section.images .rabbit-background, section.images img {
    height: 200px;
    flex-basis: 50%; }
  @media (max-width: 800px) {
    section.images {
      flex-direction: column; }
      section.images .rabbit-background, section.images img {
        flex-basis: 100%; } }

section.one-image {
  width: 300px;
  height: 200px;
  border: 2px solid green; }
  section.one-image img {
    width: 100%;
    height: 100%; }

section.one-image-bg {
  width: 300px;
  height: 200px;
  border: 3px solid blue; }
  section.one-image-bg div.img-background {
    background-image: url("./../images/rabbit.png");
    height: 50%;
    width: 50%;
    background-size: cover; }
